body {
    background: rgb(106, 242, 215);
    font-family: "Courier", sans-serif;
    height: 100vh;
    background-image: url('trivia.jpg');
    background-repeat: no-repeat;
    background-size: cover;  
}
    
.panel{
    height: 300vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-container{
    margin: 5px;
    padding: 5px;
    width: vw;
    height: 8vh;
    background-color: #df642f;
    font-size: xx-large;
    text-align: center;
    color: white;
    text-shadow: 4px 4px 8px rgba(255, 255, 255, 30); /* Make question text glow */
    

}
.option {
    padding: 15px;
    width: auto;
    min-width: 10vw;
    height: auto;
    font-size: larger;
    background-color: rgb(199, 204, 202);
    border-radius: 35%;
    cursor: pointer;
    text-align: center;
    margin: 20px;
    font-family: "Courier", sans-serif;
}

.option:hover{
    background-color: rgb(28, 50, 174);
    color: white;
    text-shadow: 4px 4px 8px rgba(255, 255, 255, 20); /* Make question text glow */

}

.navigation{
    width: 50vw;
    height: 10vh;
    margin: 20px;
    padding:10px;
    display: flex;
    justify-content: space-between;
    background-color:#8ce5de;
}
 
.evaluate,.next{
    width:auto;
    height: 8vh;
    padding: 10px;
    font-size: larger;
    font-family: "Courier", sans-serif;
    flex: 1;
    margin: 20px;
    color: white;
    text-shadow: 4px 4px 8px rgba(255, 255, 255, 20); /* Makes question text glow */

}
.evaluate{
    background-color: #3e27c3;
    cursor: pointer;
}


.next{
    color: rgb(17, 17, 17);
    background-color: #b19326;
    cursor: pointer; /*turns the cursor to pointer when hover over*/
    color: white;
    text-shadow: 4px 4px 8px rgba(255, 255, 255, 20); /* Make text glow */

}
.evaluate,.next:hover
{
        background-color: rgb(36, 43, 170);
        color: white;
        text-shadow: 4px 4px 8px rgba(255, 255, 255, 30); /* Make text glow */
}



